.desktop-content {
  width: 77%;
  margin-left: 20%;
  padding: 20px;
}
.theme-selector {
  width: 687px;
  height: 75px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 40px;
  cursor: pointer;
}

.theme-selector-header {
  margin-bottom: 8px;
  margin-top: 40px;
  margin-left: 20px;
}

.theme-selector-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.theme-selector-add {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.theme-selector-icon {
  margin-right: 60px;
  width: 30px;
  height: 30px;
}

.theme-selector-add-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: #444444;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  width: 800px;
  height: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.popup-title {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.popup-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.popup-body {
  margin: 0;
  padding: 0;
}
/* small components */
.popup-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.popup-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 53px;
  cursor: pointer;
}

.theme-icon {
  width: 40px;
  height: 35px;
  margin-right: 10px;
}

.theme-label {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
}
