.second-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.second-input {
  box-sizing: border-box;
  width: 344px;
  height: 49px;
  background: #ffffff;
  border: 1px solid #686868;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 30px;
  padding-left: 10px;
}
